body {
    font-family: Arial, Helvetica, sans-serif;
    overflow:hidden;
    margin:0px; padding:0px;
    background-size: cover;
    background-color: rgb(46 , 44, 44);
}

body * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}


button {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding-right: 30px;
  padding-left: 70px;
  position: relative;
  background-color:rgb(41,127,184);
  color:rgb(255,255,255);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15px;
    
  
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-shadow:0px 1px 0px rgba(0,0,0,0.5);
  
}

button:hover {
    background-color: white;
    color:blue;
}


container {
    background-repeat: repeat;
    width:100%; height:100%;
  
    overflow:hidden;
   
    background-size: cover;
  
}

dragon{
    background-image: url(../images/dragon.gif);
    height: 160px;
    width: 205px;
    
      background-position: center;
   }


plane {
    
    background-image: url(../images/plane2.png);
    height: 160px;
    width: 205px;
  
   }

#demo {
  width: 100%;
  height: 100%;
  padding: 8px;
}
#logo {
  position: relative;
   height: 160px;
    width: 205px;
  background-image: url(../images/plane2.png);
  background-position: 0px 4px;
  /*color: #000;*/
  font-family: Arial, Helvetica, sans-serif;
  
}
#logo p {
  font-size:25px;
  margin-top: 20px;
  margin-left: 60px;
  line-height: 58px;
}

.box {
  /*width:400px;
  height:100%;*/
  position:absolute;
  top: 50%;
  left: 35%;
  border-radius:6px;
  /*margin-top:4px;*/
  text-align:center;
  line-height:100px;
  color:black;
  font-size:80px;

}

field{
  background-image: url(../images/background.jpg);
  background-repeat: repeat-x;
  /*background-size: cover;*/
  
  width: 3840px;
  height: 100%;
  /*background-image: cover;*/
  animation: skyanimation 8s linear infinite;
}

.green{
  /*background-color:#6fb936;*/
}

@keyframes skyanimation {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(-1280px, 0px);
  }
}


engineFire{
    background-image: url(../images/FireBolt.png);
    height: 100px;
    width: 160px;
}