body {
    background-color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
    overflow:hidden;
    margin:0px; padding:0px;
    background-size: cover;
}

body * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}


button {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding-right: 30px;
  padding-left: 70px;
  position: relative;
  background-color:rgb(41,127,184);
  color:rgb(255,255,255);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15px;
    
  
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-shadow:0px 1px 0px rgba(0,0,0,0.5);
  
}

button:hover {
    background-color: white;
    color:blue;
}

container {
    background-repeat: no-repeat;
    width:1250px; height:800px;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    overflow:hidden;
    
    background-image: url(../images/background.jpg);
}


start_character{
    border: solid red;
    height: 20px;
    width: 30px;
    
}

plane {
    
    background-image: url(../images/plane2.png);
    height: 160px;
    width: 205px;
    border: solid black;
    
    
    
}

enemy {
    background-image: url(../images/dragon.gif);
    height: 260px;
    width: 400px;
    border: solid black;
   
    
    
}

engineFire{
    background-image: url(../images/FireBolt.png);
    height: 100px;
    width: 160px;
}